
/*############################### default #########################*/

nav, header,footer{
    display: block;
}
body{
    margin: 0;
    line-height: 1;
}

/*############################### nav #########################*/
nav {
    margin: 0;
}

nav ul{
    background: #eee;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul.topnav li{
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right{
    list-style: none;
    float: right;
}
ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: #666;
}
ul.topnav li.dropdownicon{
    display: none;
}

ul.topnav li a:hover{
    background-color: blue;
    color:white;
}

/*######################## custom styles ###########################*/

#gradient1{
    background: #cce6ff;
    background: linear-gradient(to bottom, #3399ff, #cce6ff );
    background: -webkit-linear-gradient(to bottom, #3399ff, #cce6ff );
    background: -o-linear-gradient(to bottom, #3399ff, #cce6ff );
    
}
*{
    box-sizing: border-box;

}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after{
    display: table;
    clear: both;
    content: "";
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}


.leftside{
    margin: 5%;
}
h1.large{
    color: white;
    font-size: 55px;
    text-shadow: 2px 2px black;
}
.centerheader{
    text-align: center;
    
}
div.box{
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15);
    margin: 24px;
}

div.box:hover{
    background-color: white;
    box-shadow: 21px 17px 17px -10px rgba(0,0,0,0.75);
-webkit-box-shadow: 21px 17px 17px -10px rgba(0,0,0,0.75);
-moz-box-shadow: 21px 17px 17px -10px rgba(0,0,0,0.75);
}
/*######################## mobile ###########################*/
@media screen and (max-width: 680px) {
    ul.topnav li:not(:nth-child(1)){
        display: none;
    }
    ul.topnav li.dropdownicon{
        display: block;
        float: right;
    }
    ul.topnav.responsive li.dropdownicon{
        position: absolute;
        top: 0;
        right: 0;
    }
    
    ul.topnav.responsive{
        position: relative;
    }
    ul.topnav.responsive li{
        display: inline;
        float: none;
    }
    
    ul.topnav.responsive li a{
        display: block;
        text-align: left;
    }
    .col-12,.col-4{
        width: 100%;
        margin: auto;
    }
}

/*#################### container  ########################*/

.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}

.footer{
    background-color: grey;
    font-size: 12px;
}